/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.nav__btn_wrapper {
  margin-bottom: 1rem
}


/* Sidebar */

.home {position: relative!important;}
.main_text {width: 65%}

.sidebar__wrapper {
  background: #F5F5F5;
  min-height: 40vh;
  position: absolute;
  right: 0%;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1rem;
  top: 10px;
}

.sidebar__title {
  color: #2f6185;
  font-size: 1.2rem;
  border-bottom: 1px dotted #ccc;
  margin-top: 1.55rem;
  margin-bottom: 0.5rem;
}
.sidebar__title:first-child {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

/* sidebar button */
.nav__btn {
  background-color: $brand-color;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
}

.nav__btn:hover {
  background-color: #666!important;
  color: #fff;
  text-decoration: none;
}

.nav__btn:visited {
  background-color: $brand-color;
  color: #fff;
  text-decoration: none;
}

.mobile_only {
  display: none;
}


/* Jumbotron page */
.jumbo_wrapper {
  width: 100%; 
  height: 330px; 
  background-image: url(./bg.svg);
  background-color: $brand-color;
  background-repeat: repeat;
  background-size: 100%;
  background-size: cover;
  -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.75);
}

.title_wrapper {
  height: 100%;
}

.wrapper__maintitle{
  color: #fff;
  margin-top: 4.5rem;
  font-size: 4rem;
  margin-bottom: 0rem;
  font-weight: 800;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.wrapper__subttitle {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  font-size: 2rem;
  margin-top: -1rem;
}

/* INTRO */

.intro__image {
  max-width: 60%;
  margin-right: 2rem;
  margin-top: 1rem;
}

/* Format header and sidebar */
@media only screen and (max-width: 1200px) {
  .sidebar__wrapper {
    position: relative;
    width: 100%;
    right: 0;
    min-height: auto;
    margin-top: 2rem;
    margin-left: 0;
  }

  .main_text {width: 100%}
  .jumbo_wrapper{
    height: 200px;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .wrapper__maintitle{
    color: #fff;
    margin-top: 1.7rem;
    font-size: 4rem;
    margin-bottom: 0rem;
    font-weight: 800;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  }
  
  .wrapper__subttitle {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    font-size: 2rem;
    margin-top: -1rem;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }


  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

  .mobile_only {
    display: inline-block;
  }

  .jumbo_wrapper  {
    display: none;
  }

  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {



  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
