<div class="sidebar__wrapper">

    <h4 class="sidebar__title">Latest Release</h4>
    <div class="nav__btn_wrapper"><a class="nav__btn" href="https://github.com/survey2gis/survey-tools/releases" target="_blank"><img class="svg-icon" style="width: 18px" src="/assets/download_white.svg"> Download the latest release</a></div> 
   
    <h4 class="sidebar__title">Manual</h4>
    <div class="nav__btn_wrapper"><a class="" href="https://github.com/user-attachments/files/16010974/english.pdf" target="_blank">Download PDF</a> in english</div> 
  
    <h4 class="sidebar__title">Get in touch</h4>
    Do you need some help for getting started? Or just want to share some thoughts? Meet other users at <a href="https://groups.io/g/survey2gis/topics" target="_blank">groups.io</a>.
  
    <h4 class="sidebar__title">Found a bug?</h4>
    Please open a new ticket at <a href="https://github.com/survey2gis/survey-tools/issues" target="_blank">GitHub Issues</a>.
  
    <h4 class="sidebar__title">Contribute</h4>
    Please fork our repository at <a href="https://github.com/survey2gis/survey-tools" target="_blank">GitHub</a> and create a pull request against Master Branch.
  

  </div>
